[Unit]
Description=Start Broadcast server
After=multi-user.target

[Service]
ExecStart=/opt/utils/ProjComm/broadcast.py

[Install]
WantedBy=multi-user.target
