[Unit]
Description=Start Broadcast server
After=multi-user.target

[Service]
ExecStart=/opt/util/ProjComm/server.py

[Install]
WantedBy=multi-user.target
